[submodule "structurizr-ui"]
	path = submodules/structurizr-ui
	url = git@github.com:structurizr/ui.git
[submodule "submodules/structurizr"]
	path = submodules/structurizr
	url = https://github.com/structurizr/structurizr.git
	branch = main
