#structurizr-docs-navigation {
    margin: 0 0 1rem;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    li {
        list-style: none;
        margin-right: 5px;
    }

    li a.active {
        font-weight: 800;
        color: var(--color-foreground);
    }

    li::after {
        content: " | ";
    }

    li:last-child::after {
        content: "";

    }
}