#structurizr-docs-navigation {
    margin: 0 0 1rem;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    li {
        list-style: none;
        margin-right: 5px;
    }

    li a.active {
        font-weight: 800;
        color: var(--color-foreground);
    }

    li::after {
        content: " | ";
    }
}

/* TODO: Put it back to nested once this is released: */
/* https://github.com/biomejs/biome/pull/3117 */
#structurizr-docs-navigation li:last-child::after {
    content: "";
}