.currentView {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.description {
    max-width: calc(60cqw - 1rem) /* gutter */;

    h2 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0;
    }

    small {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1;
        display: block;
    }
}

.controlButtons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 40cqw;
}

.btnGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;

    button {
        height: 1.6rem;
        width: 1.6rem;
        border: 1px solid var(--color-secondary);
        background-color: rgb(from var(--color-external) calc(r + 100) calc(g + 100) calc(b + 100));
        cursor: pointer;
        border-radius: 3px;
    }

    button:disabled {
        opacity: 0.5;
    }

    svg {
        pointer-events: none;
        transform: translate(-2px, 1px);
        fill: var(--color-secondary);
    }
}

@media (orientation: landscape) {
    .btnGroup {
        button {
            height: 2rem;
            width: 2rem;
        }

        svg {
            transform: translate(0, 1px);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .btnGroup {
        button {
            background-color: rgb(from var(--color-external) calc(r - 100) calc(g - 100) calc(b - 100));
            border-color: var(--color-tertiary);
        }

        svg {
            fill: var(--color-tertiary);
        }
    }
}