.diagramNavigation {
    width: 100cqw;
    overflow-y: hidden;

    ul {
        margin: 1em 0;
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    li {
        container: diagramButton / size;
        display: block;
        position: relative;
        list-style-type: none;
        background-color: var(--color-external);
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
        width: 100px;
        height: 100px;
        cursor: pointer;
        border-radius: 5px;
    }

    a {
        position: absolute;
        display: inline-block;
        bottom: 5px;
        left: 0;
        font-size: 0.7rem;
        text-align: center;
        word-break: break-all;
        color: var(--color-foreground);
        pointer-events: none;
        line-height: 1;
        width: calc(100cqw - 10px);
        padding: 5px;
    }

    svg {
        width: 60px;
        position: absolute;
        fill: var(--color-foreground);
        left: calc(50% - 30px);
        transform: scale(2.5) translate(0, 12px);
        pointer-events: none;
    }

    a:hover {
        color: var(--color-primary-background);
    }

    li:hover {
        cursor: pointer;
    }

    li.active {
        background-color: var(--color-primary-background);
    }

    &.centered {
        ul {
            justify-content: center;
        }
    }
}

@media (prefers-color-scheme: light) {
    .diagramNavigation {
        li {
            background-color: var(--color-tertiary);
        }

        a {
            color: var(--color-primary);
        }

        svg {
            fill: var(--color-primary);
        }

        li.active {
            background-color: var(--color-secondary-background);
    
            a {
                color: var(--color-primary-background);
            }
    
            svg {
                fill: var(--color-primary-background);
            }
        }
    }
}