.menu {
    select {
        width: 100cqw;
        background-color: var(--color-background);
        border-radius: 0.5rem;
        height: 3rem;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.active {
    color: var(--color-foreground);
    font-weight: bold;
    pointer-events: none;
}