.navigation {
    margin: 0 0 1rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    place-content: space-between;

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    li {
        list-style: none;
        margin-right: 5px;
        white-space: nowrap;
    }

    li::after {
        content: " | ";
    }

    li:last-child::after {
        content: "";
    }
}

.navigationActive {
    font-weight: 800;
    color: var(--color-foreground);
    pointer-events: none;
}

@media (orientation: landscape) and (min-width: 996px) {
    .navigation {
        font-size: 0.9rem;
    }
}