:root {
  --color-primary: rgb(17, 104, 189);
  --color-secondary: rgb(8, 66, 123);
  --color-tertiary: rgb(133, 187, 240);
  --color-external: rgb(153, 153, 153);
  --color-primary-foreground: rgb(from var(--color-primary) calc(r + 50) calc(g + 50) calc(b + 50));
  --color-secondary-foreground: rgb(from var(--color-secondary) calc(r + 50) calc(g + 50) calc(b + 50));
  --color-primary-background: rgb(from var(--color-primary) calc(r - 50) calc(g - 50) calc(b - 50));
  --color-secondary-background: rgb(from var(--color-secondary) calc(r - 50) calc(g - 50) calc(b - 50));
  --color-foreground: rgba(255, 255, 255, 0.8);
  --color-background: rgba(20, 20, 20, 0.8);

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2.4em;
  line-height: 1.2;
}

h1.workspace-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color:  var(--color-primary-foreground);
}

#app {
  width: 100dvw;
  height: 100dvh;
  padding: 0 2rem;
  container: app / size;

  hr {
    border: 0;
    border-top: 1px solid var(--color-external);
  }
}

#structurizr-diagram-target {
  width: 100cqw;
  height: 80cqw;
}

.structurizrDiagramViewport {
  background: rgb(from var(--color-background) calc(r + 10) calc(g + 10) calc(b + 10));
  /* Override the `hidden scroll` coming from Structurizr that causes
  scrollbars on zoom in Chrome */
  overflow: hidden !important; 
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: rgb(17, 104, 189);
    --color-secondary: rgb(8, 66, 123);
    --color-primary-foreground: rgb(from var(--color-primary) calc(r - 50) calc(g - 50) calc(b - 50));
    --color-secondary-foreground: rgb(from var(--color-secondary) calc(r - 50) calc(g - 50) calc(b - 50));
    --color-primary-background: rgb(from var(--color-primary) calc(r + 200) calc(g + 200) calc(b + 200));
  --color-secondary-background: rgb(from var(--color-secondary) calc(r + 50) calc(g + 50) calc(b + 50));
    --color-foreground: rgba(0, 0, 0, 0.8);
    --color-background: rgba(240, 240, 240, 0.8);
  }
}

@media (orientation: landscape) {
  #structurizr-diagram-target {
    height: 60cqh;
  }
}